{% extends "base.html.twig" %}

{% block title %}
    Article | ActuNews
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">
            TITRE DE L'ARTICLE
        </h1>
    </div>
{% endblock %}

