{% extends "base.html.twig" %}

{% block title %}
    Categorie | ActuNews
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">
            {{ app.request.get('alias') | title }}
        </h1>
    </div>
{% endblock %}

