{% extends "base.html.twig" %}

{% block title %}
    Accueil | ActuNews
{% endblock %}

{% block content %}
    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">ActuNews</h1>
    </div>
{% endblock %}

